body, html {
	font-family:"Andalé Mono",Courier,monospace;
	margin:0;
	height:100%;
}

table {
	border:3px solid gray;
	border-collapse:collapse;
	cellpadding:4vw;
}

td:nth-child(odd),th:nth-child(odd){
	background-color:lightgreen;
}

td:nth-child(even),th:nth-child(even){
	background-color:tomato;
}

.header {
	display:block;
	background-color:#cccccc;
	margin:0;
}

div.headercont {
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:flex-start;
	height:100%;
	padding:12px;
}

img.logo {
	height:10vh;
	width:15vw;
	flex-shrink:0;
	margin-left:10px;
}

.navcont {
	height:8vh;
	width:10vw;
	background-color:#777777;
	text-align:center;
	margin:0px 15px;
	border:1px solid #222222;
	transition-duration:0.5s;
	font-family:"Andalé Mono",Courier,monospace;
}

.navcont:hover {
	background-color:#555555;
}

.nav {
	display:flex;
	justify-content:flex-end;
	align-items:center;
	width:95vw;
	position:sticky;
}

.hero-image {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../images/shanghaismog.jpg);
  height:75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size:25px;
}

.hero-text h1 {
	font-size:50px;
}

.hero-text p {
	color:black;
	font-weight:bolder;
}

.learnmore {
	text-align:center;
	border:1px solid black;
	color:#ffffff;
	height:85vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	font-size:45px;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/powerplant.jpg);
	background-position:center;
}

.lmbutton {
	background-color:#424242;
	border:1px solid black;
	text-align:center;
	padding:10px;
	font-size:28px;
	transition-duration:0.5s;
	font-family:"Andalé Mono",Courier,monospace;
}

.lmbutton:hover {
	background-color:#888888;
}

/*alt refers to "alternatives" as in alternatives to coal energy*/

.altheader {
	font-size:40px;
	grid-area:header;
	text-align:center;
}

.altvidheader {
	font-size:40px;
	grid-area:vheader;
	text-align:center;
}

.altname {
	font-size:25px;
	text-align:center;
	grid-area:name;
	margin:5px 5px;
}

.altdiv1 {
	width:15vw;
	text-align:center;
	display:flex;
	flex-direction:column;
	justify-content:center;
	margin:auto;
	grid-area:wind;
	border:1px solid black;
	background-color:rgba(64, 64, 200, 0.5);
	padding:10px;
}

.altdiv2 {
	width:15vw;
	text-align:center;
	display:flex;
	flex-direction:column;
	justify-content:center;
	margin:auto;
	grid-area:sol;
	border:1px solid black;
	background-color:rgba(240, 128, 48, 0.6);
	padding:10px;
}

.altdiv3 {
	width:15vw;
	text-align:center;
	display:flex;
	flex-direction:column;
	justify-content:center;
	margin:auto;
	grid-area:nuc;
	border:1px solid black;
	background-color:rgba(153, 221, 153, 0.6);
	padding:10px;
}

.altimg {
	width:100%;
	height:25vh;
	border:1px solid black;
	grid-area:img;
}

.altvid1 {
	grid-area:one;
	margin:auto;
}

.altvid2 {
	grid-area:two;
	margin:auto;
}

.altercontain {
	display:grid;
	grid-gap:10px;
	width:100%;
	background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/forestwwf.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	grid-template-areas:
		'header header header'
		'name name name'
		'img img img'
		'wind sol nuc'
		'vheader vheader vheader'
		'one one one'
		'two two two';
	padding:30px 0px;
	color:white;
}

.footer {
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	width:100%;
	background-color:black;
	color:white;
}

.references {
	font-size:8px;
	color:#696969;
}

/*subpage styles*/

.subpagecont {
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:center;
	position:relative;
}

.headline {
	font-size:45px;
	text-align:center;
	color:black;
	font-weight:bolder;
	z-index:1;
}

.headlinimg {
	width:70vw;
	height:65vh;
	border:1px solid black;
	z-index:1;
}

iframe {
	margin:10px;
}

.caption {
	width:70vw;
	font-size:2vh;
	color:#777777;
	font-weight:bold;
}

.articont{
	font-size:15px;
	width:50vw;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	z-index:5;
	margin-bottom:3vw;
	margin-top:3vw;
}

.sheader{
	font-size:20px;
	text-align:center;
	font-weight:bold;
}

.chart{
	width:100%;
	border:1px solid black;
	margin:20px;
	margin-bottom:0px;
}

.chartcaption{
	width:100%;
	font-size:2vh;
	color:#eeeeee;
	margin:5px;
	text-align:left;
}

.coalplant{
	position:absolute;
	bottom:0;
	right:68vw;
	background:url('../images/Powerplant.svg') no-repeat -1vw 4.3vw;
	filter: brightness(50%);
	z-index:3;
	width:31.3vw;
	height:20vw;
	padding:0;
}

@keyframes vapor{
	0% {bottom:20vh;}
	10% {opacity:30%; bottom:40vh;}
	20% {opacity:45%; bottom:60vh;}
	30% {bottom:80vh; transform:scale(1.1);}
	40% {bottom:100vh; transform:scale(1.2);}
	50% {bottom:120vh; transform:scale(1.3));}
	60% {bottom:140vh; transform:scale(1.4);}
	70% {bottom:160vh; transform:scale(1.5); opacity:30%}
	80% {bottom:180vh; transform:scale(1.6); opacity:15%}
	90% {bottom:200vh; transform:scale(1.7); opacity:7.5%}
	100% {bottom:220vh; transform:scale(1.8); opacity:0%;}
}

.smoke{
	position:absolute;
	bottom:0;
	right:70vw;
	background:url('../images/smoke2.svg') no-repeat -1vw 4.3vw;
	filter: brightness(50%);
	z-index:2;
	width:30vw;
	height:30vw;
	padding:0;
	opacity:0%;
	animation: vapor 15s linear 0s infinite normal;
}

@keyframes rotation{
	from{transform:rotate(0deg);}
	to{transform:rotate(360deg);}
}

.pole{
	position:absolute;
	bottom:0;
	right:43.2vw;
	background:url('../images/pole.svg') no-repeat -1vw 4.3vw;
	z-index:1;
	width:31.3vw;
	height:20vw;
	padding:0;
	filter:brightness(80%);
}

.mill{
	position:absolute;
	bottom:3vw;
	right:58.2vw;
	background:url('../images/mill.svg') no-repeat -3px -7px;
	background-size:cover;
	z-index:2;
	width:20vw;
	height:20vw;
	padding:0;
	animation: rotation 20s linear 0s infinite normal;
	filter:brightness(80%);
}

.hill {
	position:absolute;
	bottom:0vw;
	background:url('../images/hills.svg') no-repeat;
	background-size:cover;
	z-index:0;
	width:100%;
	height:40vw;
	padding:0;
	filter:brightness(80%);
}

.panelr1 {
	position:relative;
	bottom:0vw;
	left:2.5vw;
	background:url('../images/panel.svg') repeat-x center;
	z-index:2;
	width:90vw;
	height:10vw;
	padding:0;
	transform:skew(20deg);
	filter:brightness(70%);
	margin:0;
	padding:0;
}

.panelr2 {
	position:absolute;
	bottom:1vw;
	right:8vw;
	background:url('../images/panel.svg') repeat-x center;
	z-index:1;
	width:90vw;
	height:10vw;
	padding:0;
	transform:skew(20deg);
	filter:brightness(60%);
}

.panelr3 {
	position:absolute;
	bottom:2vw;
	left:2.5vw;
	background:url('../images/panel.svg') repeat-x center;
	z-index:0;
	width:90vw;
	height:10vw;
	padding:0;
	transform:skew(20deg);
	filter:brightness(50%);
}

.sun {
	position:absolute;
	top:49.8vw;
	right:24.9vw;
	background:url('../images/sun.svg') no-repeat center;
	background-size:cover;
	z-index:0;
	width:10vw;
	height:10vw;
	padding:0;
}

.rays{
	position:absolute;
	top:40vw;
	left:54.1vw;
	background:url('../images/rays.svg') no-repeat center;
	background-size:cover;
	z-index:0;
	width:30vw;
	height:30vw;
	padding:0;
	animation: rotation 30s linear 0s infinite normal;
	filter:brightness(100%);
}

.nucplant{
	position:absolute;
	bottom:-9.1vw;
	right:68vw;
	background:url('../images/nuclearplant.svg') no-repeat -1vw 4.3vw;
	z-index:3;
	width:32vw;
	height:30vw;
	padding:0;
}

.vapor1{
	position:absolute;
	bottom:-60vw;
	right:68vw;
	background:url('../images/vapor3.svg') no-repeat;
	z-index:2;
	width:30vw;
	height:30vw;
	padding:0;
	opacity:0%;
	animation: vapor 15s linear 0s infinite normal;
}

.vapor2{
	position:absolute;
	bottom:-60vw;
	right:55vw;
	background:url('../images/vapor2.svg') no-repeat;
	z-index:2;
	width:30vw;
	height:30vw;
	padding:0;
	opacity:0%;
	animation: vapor 15s linear 3s infinite normal;
}